!!! 5
%html
  %head
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield :head
    %title Xiaohan Zhang
  %body
    = render '/header'
    #content= content_for?(:content) ? yield(:content) : yield
    /= render '/background'
    = javascript_include_tag "application"
    = render '/google_analytics'
